In [1]:
import pandas as pd
import numpy as np
from double_corrected_variance_estimator import group_level_metrics, double_correction
from fairlib.src.evaluators.evaluator import gap_eval_scores

In [2]:
income = pd.read_csv("adult_income_with_predictions.csv")
income["Preds"] = income["score"]>0.5

In [3]:
race_map_dict = {
    'White': 0,
    'Amer-Indian-Eskimo': 1,
    'Asian-Pac-Islander': 2,
    'Black': 3,
    'Other': 4,
    }

income["race_label"] = income["race"].map(race_map_dict)

In [4]:
preds = list(income["Preds"])
y_labels = list(income["income_gt_50K"])
g_labels = list(income["race_label"])

In [5]:
gap_scores, confusion_matrices = gap_eval_scores(
    y_pred=preds,
    y_true=y_labels,
    protected_attribute=g_labels
)

In [6]:
TPR_metric_df = group_level_metrics(confusion_matrices = confusion_matrices, metric = "TPR", class_id = 1)
FPR_metric_df = group_level_metrics(confusion_matrices = confusion_matrices, metric = "FPR", class_id = 1)

In [7]:
FPR_metric_df

   gid      metric_k   n_k
0    0  6.275005e-02  9498
1    1  2.752303e-02   109
2    2  9.271527e-02   302
3    3  2.420702e-02  1198
4    4  9.900991e-08   101

In [8]:
TPR_metric_df

   gid  metric_k   n_k
0    0  0.652352  3167
1    1  0.437500    16
2    2  0.717172    99
3    3  0.570470   149
4    4  0.571428    14

In [9]:
TPR_double_corrected_results_dict = double_correction(TPR_metric_df, n_sample=10000, threshold=False)
FPR_double_corrected_results_dict = double_correction(FPR_metric_df, n_sample=10000, threshold=False)

In [10]:
TPR_double_corrected_results_dict.describe()

       uncorrected_var  corrected_var  double_corrected_var
count     10000.000000   10000.000000          10000.000000
mean          0.018148       0.011255              0.004780
std           0.011769       0.012121              0.012461
min           0.000197      -0.006817             -0.013407
25%           0.009271       0.002139             -0.004608
50%           0.015771       0.008674              0.002051
75%           0.024305       0.017502              0.011119
max           0.103132       0.100019              0.097083

In [11]:
FPR_double_corrected_results_dict.describe()

       uncorrected_var  corrected_var  double_corrected_var
count     10000.000000   10000.000000          10000.000000
mean          0.001428       0.001318              0.001209
std           0.000458       0.000455              0.000453
min           0.000518       0.000425              0.000307
25%           0.001096       0.000986              0.000879
50%           0.001365       0.001255              0.001147
75%           0.001686       0.001575              0.001466
max           0.005733       0.005543              0.005354